<!-- Estendemos do template base -->
{% extends "crud/_layouts/base.html" %}

<!-- Bloco que define o <title></title> da nossa página -->
{% block title %}Página Inicial{% endblock %}

<!-- Bloco de conteúdo da nossa página -->
{% block conteudo %}
  <div class="container mt-5">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Exclusão de Funcionário</h5>

        <p class="card-text">
          Você tem certeza que quer excluir o funcionário
          <b>{{ funcionario.nome }}</b>
        </p>

        <form method="post">
          {% csrf_token %}

          <hr />
          <a class="text-right">
            <a href="{% url 'url_show' %}"
              class="btn btn-outline-danger">
                Cancelar
            </a>
              <a class="btn btn-danger" href="{% url 'url_delete' pk=funcionario.id %}">Excluir</a>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}